server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./testdb
    driverClassName: org.h2.Driver
    username: sa
    password: 1
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  secret-key: 2e292e323124377c78255f363165246b6c7d684a7379445f5c3b713962
