.header {
  padding: 20px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 10px;
}

.auth {
  display: flex;
  gap: 10px;
  align-items: center;
}
